{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10.16.0"
        },
        "corejs": 3,
        "loose": true,
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
